/dataSources/absentee_file_sept_2021/
/dataSources/Complete_Voter_History_files/
/dataSources/Fulton Voter Files/
/dataSources/Old_Voter_Base_File/
/dataSources/Old_Voter_History_File/
/dataSources/property_data/
/dataSources/upload/
/dataSources/Voter Base Files/
/dataSources/Voter_History_file_11_24/
/dataSources/Voter_History_file_19_Oct/
/dataSources/Voter_History_Files/
/dataSources/VoterBase_Sept2021/
/dataSources/35209.TXT
/dataSources/Election_Ballot_Applications.csv
/dataSources/Georgia_Daily_VoterBase.txt
/dataSources/List_of_Duplicate_Merge_Voters_bet_Nov_3_2020_through_June_30_2021-updated.csv
/dataSources/STATEWIDE.csv
/dataSources/Voter Base Files.7z
/dataSources/Voter_data.zip
/FultonCountyBallotScanner/
